* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#slider {
    margin-top: 20px;
}

.slider__container {
    position: relative;
    margin: 5px;
    height: 400px;
    overflow: hidden;
}

.slider__content {
    position: relative;
    height: 100%;
}

.slide {
    position: absolute;
    right: -100%;
    letf: 100%;
    width: 100%;
    height: 100%;
    display: block;
    background-color: red;
}

.btn {
    border: 0;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: blue;
    color: green;
}

.btn__back {
    left: 10px;
}

.btn__forward {
    right: 10px;
}

.openR {
    transition: all 0.9s ease 0s;
    right: 0;
}

.openL {
    transition: all 0.9s ease 0s;
    left: 0;
}

.left {
    left: -100%;
}

.none {
    display: none;
}
