body {
    padding: 50px;
}

.btn {
    margin-top: 30px;
    margin-right: 10px;
}

.red {
    color: red;
}

.hide {
    display: none;
}

.list__row {
    display: block;
    padding-bottom: 10px;
}

.list__row td {
    text-align: center;
    padding-right: 10px;
}

.input__container {
    position: relative;
}

.nyDiv {
    position: absolute;
    top: 25px;
}
