.list-album__item {
    list-style: none;
    padding-bottom: 10px;
}
.list-album__item span {
    cursor: pointer;
}

#container {
    display: flex;
}

.list-album {
    flex: 0 0 35%;
}

.photo-album {
    flex: 0 0 60%;
}
h2 {
    color: green;
}
