<tr data-id="student.id">
    <td>student.name</td>
    <td>
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
        <input
            class="inputMark"
            data-num="{num}"
            value="{student.marks}"
            type="text"
        />
    </td>
    <td><button class="btnDel">Delete</button></td>
</tr>
